<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!--
      Deliberately declares no dangerous permissions. The hostile permission
      onboarding is simulated in-app so the satire cannot obtain private data.
      There is also deliberately no INTERNET or notification permission.
    -->

    <application
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="false"
        android:icon="@drawable/ic_calculator"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.UselessCalculator">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
